<label>¿Su propiedad cuenta o podría contar con un Anfitrión que reciba clientes durante todo el horario de atención? </label>
<div class="form-group">

    <div class="radio">
        <label>
            <input type="radio" ng-model="espacios.anfitrion" value="si" checked>
            si
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" ng-model="espacios.anfitrion" value="no">
            no
        </label>
    </div>

</div>

<div class="form-group row">
<div class="action-checkbox col-lg-2 col-md-2"></div>
<div class="action-checkbox col-lg-8 col-md-8">
<div class="form-group row" style="text-align:center;">
        <a ui-sref="form.payment" class="btn btn-block btn-info botoncito">
            Siguiente <!--<span class="glyphicon glyphicon-circle-arrow-right"></span>-->
        </a>
</div>
</div>
<div class="action-checkbox col-lg-2 col-md-2"></div>
</div>
