<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <label for="name">¿En que región te gustaría arrendar un espacio?</label>
  </div>
</div>


<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
    <select id="regiones" class="form-control" ng-model="usuarios.region"></select>
    </div>
</div>


<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <label for="text">¿En qué comuna te gustaría arrendar un espacio?</label>
  </div>
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
    <select id="comunas" class="form-control" ng-model="usuarios.comuna" ></select>
    </div>
</div>

<div class="form-group row">
<div class="action-checkbox col-lg-2 col-md-2"></div>
<div class="action-checkbox col-lg-8 col-md-8">

<div class="form-group row" style="text-align:center;">
    <button disabled ng-disabled="(usuarios.region && usuarios.comuna) ?  false : true" type="submit" class="btn btn-block btn-info botoncito">Enviar!</button>
</div>


</div>
<div class="action-checkbox col-lg-2 col-md-2"></div>
</div>
