<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <label for="name">¿En que región te gustaría arrendar un espacio?</label>
  </div>
</div>


<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
    <input type="text" class="form-control" ng-model="usuarios.region">
    </div>
</div>


<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <label for="text">¿En qué comuna te gustaría arrendar un espacio?</label>
  </div>
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
    <input type="email" class="form-control" ng-model="usuarios.comuna">
    </div>
</div>

<div class="form-group row">
<div class="action-checkbox col-lg-2 col-md-2"></div>
<div class="action-checkbox col-lg-8 col-md-8">
<div class="form-group row" style="text-align:center;">
        <a ng-disabled="(usuarios.region && usuarios.comuna) ?  false : true" ui-sref="form.espacio" class="btn btn-block btn-info botoncito">
            Siguiente <!--<span class="glyphicon glyphicon-circle-arrow-right"></span>-->
        </a>
</div>
</div>
<div class="action-checkbox col-lg-2 col-md-2"></div>
</div>
