<label >¿Qué espacio te gustaría arrendar?</label>
<div class="action-checkbox">
  <div class="action-checkbox col-lg-2 col-md-2"></div>
  <div class="action-checkbox col-lg-8 col-md-8">
    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.espacio1" value="primero">
            Hot desk (Mesón con silla compartido o individual en espacios comunes de la propiedad)
        </label>
    </div>

    <!--<div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.espacio2" value="segundo">
            Escritorio Dedicado
        </label>
    </div>-->

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.espacio3" value="tercero">
            Sala de reunion
        </label>
    </div>

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.espacio4" value="cuarto">
            Oficina privada
        </label>
    </div>

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.espacio5" value="quinto">
            Room office (oficina en hotel)
        </label>
    </div>

<div class="form-group row" style="text-align:center;">
        <a ng-disabled="(espacios.espacio1||espacios.espacio3||espacios.espacio4||espacios.espacio5) ?  false : true   " ui-sref="form.ubicacion" class="btn btn-block btn-info botoncito">
            Siguiente <!--<span class="glyphicon glyphicon-circle-arrow-right"></span>-->
        </a>
</div>
</div>
<div class="action-checkbox col-lg-2 col-md-2"></div>
</div>
