<label >Marque con qué cuenta su propiedad</label>
<div class="form-group row">
<div class="action-checkbox col-lg-2 col-md-2"></div>
<div class="action-checkbox col-lg-4 col-md-4">

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.equipamiento1" value="primero">
            WiFi
        </label>
    </div>

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.equipamiento2" value="segundo">
            Aire Acondicionado
        </label>
    </div>

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.equipamiento3" value="tercero">
            Cocina
        </label>
    </div>

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.equipamiento4" value="cuarto">
            Terraza
        </label>
    </div>

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.equipamiento5" value="quinto">
            Estacionamiento
        </label>
    </div>

</div>

<div class="action-checkbox col-lg-4 col-md-4">

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.equipamiento6" value="sexto">
            Áreas comunes
        </label>
    </div>

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.equipamiento7" value="septimo">
            Áreas de descanso
        </label>
    </div>

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.equipamiento8" value="octavo">
            Impresora
        </label>
    </div>

    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.equipamiento9" value="noveno">
            Cafetera
        </label>
    </div>
    <div class="radio" style="text-align:left;">
        <label style="font-size:15px">
            <input type="checkbox" ng-model="espacios.equipamiento10" value="decimo">
            Dispensador de agua
        </label>
    </div>

</div>
<div class="action-checkbox text-center col-lg-2 col-md-2"></div>
</div>
<div class="form-group row">
<div class="action-checkbox col-lg-2 col-md-2"></div>
<div class="action-checkbox col-lg-8 col-md-8">
<div class="form-group row" style="text-align:center;">
        <a ng-disabled="(espacios.equipamiento1||espacios.equipamiento2||espacios.equipamiento3||espacios.equipamiento4||espacios.equipamiento5||espacios.equipamiento6||espacios.equipamiento7||espacios.equipamiento8||espacios.equipamiento9||espacios.equipamiento10) ?  false : true   "  ui-sref="form.interests" class="btn btn-block btn-info botoncito">
            Siguiente <!--<span class="glyphicon glyphicon-circle-arrow-right"></span>-->
        </a>
</div>
</div>
<div class="action-checkbox col-lg-2 col-md-2"></div>
</div>
